extends layout
block content
    meta(http-equiv='refresh', content='60')
    for post in posts
        div.post
            p.data #{post.data} | #{post.visitas}
            a.url(href="#{post.url}", class="#{post.cor}")
                p #{post.titulo}
                case post.bandeira
                    when "extra.com.br"
                        img.logo(src='/images/extra.png')
                    when "pontofrio.com.br"
                        img.logo(src='/images/pontofrio2.png')
                    when "casasbahia.com.br"
                        img.logo(src='/images/casasbahia.png')
                    default 
                        p "."
            ul.links
                for link in post.listaLinks
                    li #{link}